<h1><%= trip.name %></h1>
<h3>Add a destination</h3>

<form class="new" action="/trips/<%= trip.id %>" method="post">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="image">Image</label>
    <input type="text" name="image">
  </div>
  <div>
    <label for="city">City</label>
    <input type="text" name="city">
  </div>
  <div>
    <label for="country">Country</label>
    <input type="text" name="country">
  </div>
  <div>
    <label for="rating">Rating</label>
    <input type="text" name="rating">
  </div>
  <div>
    <label for="notes">Notes</label>
    <textarea name="notes" rows="4" cols="30"></textarea>
  </div>
  <button>Add</button>
</form>

<a href="/trips/<%= trip.id%>">Back</a>
