<h1>Trips</h1>

<a href="/trips/new">Add a new trip</a>


<ul>
  <% trips.forEach((trip) => { %>
    <div class="each">
    <a href="/trips/<%= trip.id%>" <li>Name: <%= trip.name%></li></a>
    <li>Start date: <%= trip.startDate%></li>

    <form class="" action="/trips/<%= trip.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
    </div>
<%  }) %>
</ul>

<a href="/">Homepage</a>
