<body class="trip-new-bg">

<h1 class="user-trips">Add a new trip</h1>

<form class="new" action="/trips" method="post">
  <div class="form-group" >
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="startDate">Start date</label>
    <input type="text" name="startDate" class="form-control" placeholder="dd/mm/yyyy">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>

<a href="/users/<%= user.id%>" class="btn btn-primary">Back</a>
