<h1><%= trip.name%></h1>

<ul>
  <a href="/destinations/new"><li>Add new destination</li></a>

  <li>Start date: <%= trip.startDate %></li>
</ul>

<a href="/trips/<%= trip.id %>/edit">Edit</a>

<a href="/trips">Back</a>
